## Setup and Table Creation

In [1]:
import sqlite3

# Create an in-memory SQLite database and a cursor
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the "Words" table
cursor.execute('''
    CREATE TABLE Words (
        Word TEXT,
        Form TEXT,
        Tense TEXT
    )
''')
conn.commit()

# Insert sample data into the table
sample_data = [
    ('run', 'running', 'present continuous'),
    ('jump', 'jumped', 'past'),
    ('play', 'playing', 'present continuous'),
    ('run', 'ran', 'past')
]
cursor.executemany("INSERT INTO Words VALUES (?, ?, ?)", sample_data)
conn.commit()

print("Table 'Words' created and sample data inserted.")

Table 'Words' created and sample data inserted.

In [2]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM Words", conn)
df

   Word     Form               Tense
0   run  running  present continuous
1  jump   jumped                past
2  play  playing  present continuous
3   run      ran                past

## Inserting Initial Data

In [3]:
# Insert initial sample data into the table
initial_data = [
    ('run', 'running', 'present continuous'),
    ('jump', 'jumped', 'past'),
    ('play', 'playing', 'present continuous')
]

cursor.executemany('INSERT INTO Words VALUES (?, ?, ?)', initial_data)
conn.commit()

# Display the initial data
pd.read_sql_query('SELECT * FROM Words', conn)

   Word     Form               Tense
0   run  running  present continuous
1  jump   jumped                past
2  play  playing  present continuous
3   run      ran                past
4   run  running  present continuous
5  jump   jumped                past
6  play  playing  present continuous

## Add Operation

In [4]:
# Add a new morphological variant: adding the past tense "ran" for "run"
cursor.execute("INSERT INTO Words VALUES ('run', 'ran', 'past')")
conn.commit()

# Display data after the Add operation
pd.read_sql_query('SELECT * FROM Words', conn)

   Word     Form               Tense
0   run  running  present continuous
1  jump   jumped                past
2  play  playing  present continuous
3   run      ran                past
4   run  running  present continuous
5  jump   jumped                past
6  play  playing  present continuous
7   run      ran                past

## Delete Operation

In [5]:
# Delete the obsolete morphological form for 'jump'
cursor.execute("DELETE FROM Words WHERE Word = 'jump' AND Form = 'jumped'")
conn.commit()

# Display data after the Delete operation
pd.read_sql_query('SELECT * FROM Words', conn)

   Word     Form               Tense
0   run  running  present continuous
1  play  playing  present continuous
2   run      ran                past
3   run  running  present continuous
4  play  playing  present continuous
5   run      ran                past

In [6]:
# Close the connection when done
conn.close()